<main>
  <p>
    Please go to <%= link_to 'SleepBot', 'https://www.mysleepbot.com/app/entries' %>
    to export your data as a CSV. Before exporting your data, be sure to select
    the appropriate time ranges at the top of the page.
    Then, upload the file below.
  </p>
  <%= form_tag(sleep_index_path, multipart: true) do %>
    <label>Upload your CSV file from SleepBot
      <%= file_field_tag :file, accept: 'text/csv', required: true %>
    </label>

    <%= collection_select :time_zone, :utc_offset,
      ActiveSupport::TimeZone.all, :formatted_offset, :to_s,
      { prompt: 'Select Time Zone' }, { required: true }
    %>

    <%= submit_tag( "Import" ) %>
  <% end %>
</main>
