<main class='welcome_message'>
  <h1>Welcome to TrackCamp!</h1>
  <p>
    TrackCamp is a platform to track your life
    and see what really matters for you.
  </p>
  <p>
    <strong>We are not the averages of our peers.</strong>
    Every one of us is unique, and TC is a tool to help organize data about
    you, so you can build a better user's manual for <em>your</em> body.
  </p>

  <p><strong>Features:</strong>
    <ul>
      <li>
        <strong>Automatically record your activities with
          <%= link_to 'Google Fit', 'https://fit.google.com/'%>
          <%= link_to image_tag('logo_googlefit.png', class: 'logo-promo'),
          'https://fit.google.com/' %>
        </strong>
      </li>
      <li>
        <strong>Seamlessly track your weight with
          <%= link_to 'Google Fit', 'https://fit.google.com/'%>
        </strong>
      </li>
      <li>
        <strong> Track your sleep with
          <%= link_to image_tag('logo_sleepbot.png', class: 'logo-promo'),
          'https://mysleepbot.com/' %>
        </strong>
      </li>
      <li>
        <strong>Manually track events, like your energy levels or mood</strong>
      </li>
      <li>
        <strong>Graph your data together, to see what really matters</strong>
      </li>
    </ul>
  </p>

  <p>To get started:</p>
  <%= link_to image_tag('signin_google.png', class: 'signin-google'),
    login_path(:google_oauth2) %>

  <% if Rails.env.development? %>
    <p>Developers:
      <%= link_to 'log in with Developer Strategy',
      login_path(:developer) %>
    </p>
  <% end %>

  <p>
    Trust that your data is secure with SSL!
    <%= image_tag('comodo_secure_100x85_transp.png',
      class: 'icon-ssl', alt: 'Comodo Secure') %>
  </p>
</main>
