<!DOCTYPE html>
<html>
<head>
  <meta charset='UTF-8'>
  <title>Trackcamp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
  <script type="text/javascript"> //<![CDATA[
  var tlJsHost = ((window.location.protocol == "https:") ? "https://secure.comodo.com/" : "http://www.trustlogo.com/");
  document.write(unescape("%3Cscript src='" + tlJsHost + "trustlogo/javascript/trustlogo.js' type='text/javascript'%3E%3C/script%3E"));
  //]]>
  </script>
</head>
<body>

  <header>
    <%= link_to image_tag('logo_solid.svg', class: 'logo', alt: 'TrackCamp Logo'), root_path %>

    <ul class='header_nav'>
      <% if signed_in? %>
        <li>
          <%= link_to '+ Event', new_event_path %>
        </li>

        <li><span class='icon-settings'>⚙</span>
            <ul>
              <li><%= link_to 'New Event Category', new_event_type_path %></li>
              <li><%= link_to 'Upload Sleep Data', new_sleep_path %></li>
            </ul>
        </li>

        <li><%= @user.email %>
          <ul>
            <li><%= link_to 'Log out', logout_path, method: :delete %></li>
            <li>
              <%= link_to 'Delete account',
                user_path(session[:user_id]),
                method: :delete,
                data: { confirm: '!!!WARNING!!! This will permanently ' +
                  'delete account and all associated data. Are you sure?' }
              %>
            </li>
          </ul>
        </li>
      <% end %>
    </ul>
  </header>

  <%= yield %>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <!-- Note: This version of Highcharts requires jQuery; there is an alt version avail -->
  <script src="http://code.highcharts.com/highcharts.js"></script>
  <script>
    Highcharts.setOptions({
      // this is for all plots, change Date axis to local timezone
      global : { useUTC: false }
    });
  </script>

</body>
</html>
